body {
    color: black;
    text-align: center;
    vertical-align: middle;
}

body{
    margin: 0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr) ;
    align-items: center;
    justify-items: center;
    column-gap: 0px;
    padding: 2rem ;
}

.hello-account {
    display: grid;
    grid-template-columns: 11vw 8vw;
    grid-template-rows: 0.8vw;
    justify-items: left;
}

.hello2 {
    margin-top: 3vw;
    justify-content: left;
    justify-self: left;
    font-size: 1vw;
    cursor: default;
}


.hello {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 0.8vw;
    justify-items: left;
}

.hello1 {
    margin-top: -2vw;
    margin-bottom: -1vw;
    justify-content: left;
    justify-self: left;
    font-size: 2.5vw;
}

form {
    display: block;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(229,229,229,255) ;
    width: 20%; 
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 2vw;
}

.item {
    grid-column: span 2;
    width: 100%;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(177,151,89,255);
    height: 60%;
    background-image:linear-gradient(rgba(242,226,184,255), rgba(237,191,61,255)) ;
    margin-top: -2vw;
    /* font-weight: 600; */
    font-size: 0.8vw;
    cursor: pointer;
}

.item-email-label {
    margin-top: -1vw;
    margin-bottom: -2.5vw;
    justify-content: left;
    justify-self: left;
    grid-column: span 2;
    font-size: 1.3vw;
}

.item-email-input {
    margin-top: -4.2vw;
    margin-bottom: -1vw;
    justify-content: left;
    justify-self: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(173,173,173,255);
    grid-column: span 2;
}

.item-pass-label {
    margin-top: -3vw;
    justify-content: left;
    justify-self: left;
    grid-column: span 2;
    font-size: 1.3vw;
}

.item-pass-input {
    margin-top: -8vw;
    justify-content: left;
    justify-self: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(173,173,173,255);
    grid-column: span 2;
}

.item-name-label {
    margin-top: -1vw;
    margin-bottom: -2.5vw;
    justify-content: left;
    justify-self: left;
    grid-column: span 2;
}

.item-name-input {
    margin-top: -4.5vw;
    margin-bottom: -1vw;
    justify-content: left;
    justify-self: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(173,173,173,255);
    grid-column: span 2;
}

input[type="email"] {
    height: 40%;
    width: 100%;
}

input[type="password"] {
    height: 40%;
    width: 100%;
}
